

<div class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24" dir="rtl" fxLayout="row" fxLayoutAlign="start center">
      <h2>طلبات الادارة العامة</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24 mat-white-bg">
      <div class="row">
          <div class="fuse-card"  routerLink="requests">

              <div class="card-rich-media">
                  <img src="assets/demo/single1.jpg">
              </div>
            
              <div class="card-primary-title">
                  <div class="card-title">طلب تقديم عضوية</div>
                  <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
              </div>
            
              <div class="card-supporting-text">
                 يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
              </div>
            
            </div>

            <div class="fuse-card"  routerLink="requests">

              <div class="card-rich-media">
                  <img src="assets/demo/single2.jpg">
              </div>
            
              <div class="card-primary-title">
                  <div class="card-title">طلب تقديم عضوية</div>
                  <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
              </div>
            
              <div class="card-supporting-text">
                 يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
              </div>
            
            </div>

            <div class="fuse-card"  routerLink="requests">

              <div class="card-rich-media">
                  <img src="assets/demo/single3.jpg">
              </div>
            
              <div class="card-primary-title">
                  <div class="card-title">طلب تقديم عضوية</div>
                  <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
              </div>
            
              <div class="card-supporting-text">
                 يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
              </div>
            
            </div>
            
      </div>
      <div class="row">
        <div class="fuse-card"  routerLink="requests">

          <div class="card-rich-media">
              <img src="assets/demo/single2.jpg">
          </div>
        
          <div class="card-primary-title">
              <div class="card-title">طلب تقديم عضوية</div>
              <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
          </div>
        
          <div class="card-supporting-text">
             يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
          </div>
        
        </div>

        <div class="fuse-card"  routerLink="requests">

          <div class="card-rich-media">
              <img src="assets/demo/single3.jpg">
          </div>
        
          <div class="card-primary-title">
              <div class="card-title">طلب تقديم عضوية</div>
              <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
          </div>
        
          <div class="card-supporting-text">
             يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
          </div>
        
        </div>

        <div class="fuse-card"  routerLink="requests">

          <div class="card-rich-media">
              <img src="assets/demo/single1.jpg">
          </div>
        
          <div class="card-primary-title">
              <div class="card-title">طلب تقديم عضوية</div>
              <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
          </div>
        
          <div class="card-supporting-text">
             يقدم هذا الطلب في حال أراد صاحب المشروع الاستفادة من عضوية المناطق الحرة
          </div>
        
        </div>

      </div>
     

      

  </div>
  <!-- / CONTENT -->

</div>
