.content .row{
    display: flex;
}

.fuse-card{
    margin:10px;
    text-align: right;
    cursor: pointer;
}


.card-title{
    font-size:32px !important;
}
.card-subtitle{
    font-size:24px !important;
}