

<div class="page-layout simple fullwidth" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header mat-accent-bg p-24" dir="rtl" fxLayout="row" fxLayoutAlign="start center">
        <h2>الطلبات الورقية</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24 mat-white-bg">
        <div class="row">
            <div class="fuse-card"  routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">الادارة</div>
                    <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة </div>
                </div>
              
                <div class="card-supporting-text">
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الف
                </div>
              
              </div>


              <div class="fuse-card" routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">الهيئة العامة</div>
                    <div class="card-subtitle secondary-text">غير متوفر يوم الجمعة</div>
                </div>
              
                <div class="card-supporting-text">
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الف
                </div>
              
              </div>

              <div class="fuse-card" routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">المقاسم</div>
                    <div class="card-subtitle secondary-text">غير متوفر يوم الجمعة</div>
                </div>
              
                <div class="card-supporting-text">
                    م ميناء الشّعبين أخر, سقطت الانجليزية فقد إذ. حتى عن كانتا انتهت وبحلول, وقوعها، المتاخمة حين من. الحرة بأيدي و ضرب, فقد من بشرية بأضرار. وبدأت وبولندا لم فقد, قد فصل مايو لدحر. قبل الشمل المشتّتون بـ, بعض في دأبوا إعادة.
                </div>
              
              </div>
        </div>
       
        <div class="row">
            <div class="fuse-card" routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">البلدية</div>
                    <div class="card-subtitle secondary-text">من الساعة ال 2 الى الساعة 4</div>
                </div>
              
                <div class="card-supporting-text">
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الف
                </div>
              
              </div>


              <div class="fuse-card" routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">لجنة المنطقة الحرة</div>
                </div>
              
                <div class="card-supporting-text">
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الف
                </div>
              
              </div>

              <div class="fuse-card" routerLink="single">

                <div class="card-rich-media">
                    
                </div>
              
                <div class="card-primary-title">
                    <div class="card-title">الاتحاد العام للمناطق الحرة</div>
                </div>
              
                <div class="card-supporting-text">
                    م ميناء الشّعبين أخر, سقطت الانجليزية فقد إذ. حتى عن كانتا انتهت وبحلول, وقوعها، المتاخمة حين من. الحرة بأيدي و ضرب, فقد من بشرية بأضرار. وبدأت وبولندا لم فقد, قد فصل مايو لدحر. قبل الشمل المشتّتون بـ, بعض في دأبوا إعادة.
                </div>
              
              </div>
        </div>
       

        

    </div>
    <!-- / CONTENT -->

</div>
